@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  ::selection {
    background: #a32e2e;
    color: #fff5f2;
  }

  * {
    cursor: none;
  }
}
